body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

header {
    background-color:black;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li {
    float: left;
}

nav a {
    display: block;
    color:floralwhite;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav a:hover {
    background-color: #ddd;
    color:black;
}

.imagem-container-japao {
    width: 100%;
    background-image: url('Banner\ Japão.png'); 
    background-size: 100%; /* Defina um valor menor para reduzir a imagem */
    background-position: center; 
    background-repeat: no-repeat; 
    display: flex;
    justify-content: left;
    align-items: flex-start; 
    height: 620px; 
}
  
#texto-container-japao {
    text-align: center;
    color: #ffffff;
    margin-top: 100px;
    margin-left:50px;
}
#texto-container-japao h2 {
    font-size: 2em; /* Ajuste o tamanho do título conforme necessário */
}
#texto-container-japao p {
    font-size: 1.5em;
    margin: 10px 0; /* Adicione um espaçamento entre os parágrafos */
    text-align: left; /* Alinha os parágrafos à esquerda */
}
.destinosdaexcursao {
    /* Adicione outras propriedades conforme necessário para a div principal */
    
}

.divdestinosparteinferior{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.titulodestinosdaexcursao {
    text-align: center; /* Centraliza o texto horizontalmente */
}

.titulodestinosdaexcursao h2 {
    margin: 0; /* Remova a margem padrão para evitar espaços indesejados */
}

.internadestinosexcursao {
    display: inline-block;
    width: 48%; /* Define a largura desejada para cada div */
    margin: 10px; /* Adiciona margem entre as divs (opcional) */
    vertical-align: top; /* Alinha as divs no topo */ 
}

.internadestinosexcursao h2 {
    text-align: left; /* Ajusta o alinhamento do texto para a esquerda */
    color: black;
} 

.internadestinosexcursao p {
    text-align: left; /* Ajusta o alinhamento do texto para a esquerda */
    color:black;
}

.internadestinosexcursao img{
    width: 588px; /* Ajusta a largura para ocupar 100% do contêiner pai */
    height: 452px; /* Mantém a proporção original da imagem */
    display: block; /* Remove espaços extras abaixo da imagem */
}

#img-tokyo {
    margin-left: 142px;
}

#img-osaka {
    margin-right: 131px;
}

#divdestinotokyo h2 {
    margin-left: 140px;
}
#divdestinotokyo p {
    margin-left: 140px;
}

#divdestinotokyo button {
    margin-left: 137px;
}

.Pagamento {
    display: block;
    justify-content: space-between;
    align-items: center;
}

#divpagamentoinferior{
display: flex;
}


#divpagamentopartedireita {
    flex: 1 0 70%;
    order: 2; 
    align-items: center; /* Centraliza verticalmente os itens */

}

#divpagamentoparteesquerda {
    flex: 1 0 30%;
    order: 1;
    align-items: center; /* Centraliza verticalmente os itens */
}

.Pagamento h2 {
    text-align: left;
    margin-left: 620px;
}

#divpagamentoparteesquerda p{
    text-align: left;
    margin-left:150px;

}

.pdestaquepagamento{
    font-weight: bold;

}

#imagemmontagemjapao1{
margin-right: 10px;
}
#imagemmontagemjapao2{
margin-right: 20px;
}
#imagemmontagemjapao3{
margin-right: 145px;
margin-top: 20px;
width:780px;
}

.botaolinkexternopaginainicial{
    background-color:#B81515;
    color: #ffffff;
}

#divpagamento button {
    margin-left: 142px;
}

#Depoimentosparteinferior{
display: flex;
margin-left:140px;
margin-right:100px;
}

.divdepoimentos {
    width: 30%;
    margin-right: 30px;
    margin-bottom: 20px; /* Adicionei um espaçamento inferior para separar os depoimentos verticalmente */
    float: left; /* Use float para alinhar os depoimentos lado a lado */
}

#depoimento1{
width: 32%;
margin-bottom: 20px; /* Adicionei um espaçamento inferior para separar os depoimentos verticalmente */
float:left; /* Use float para alinhar os depoimentos lado a lado */
}

/* Aplicando margem à direita para os dois primeiros depoimentos */
#depoimento1, #depoimento2, #depoimento3 {
margin-right: 10px;
margin-bottom: 20px;
float: left; /* Use float para alinhar os depoimentos lado a lado */
line-height: 0.75; /* Ajuste o valor conforme necessário para reduzir o espaçamento entre as linhas */
}

/* Não é necessário adicionar margem à direita para o último depoimento */
#depoimento3 {
margin-right: 150px;
}

.Depoimentos h2 {
    font-size: 30px; /* Ajuste o valor conforme necessário para o tamanho do texto */
    font-weight: bold; /* Adiciona negrito ao texto */
}

.depoimentoinferior {
    display: flex;
}

.avaliacao-estrelas {
    font-size: 25px;
    unicode-bidi: bidi-override;
    color: #B81515;
    position: relative;
    display: inline-block;
}

.avaliacao-estrelas span {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    overflow: hidden;
}

.avaliacao-estrelas:before {
    content: '★★★★★';
}

.avaliacao-estrelas:hover:before,
.avaliacao-estrelas:hover ~ span:before {
    content: '☆☆☆☆☆';
    color: #B81515; /* cor da estrela durante o hover */
}

#imagemrodape{
    width: 100%;
}

.footer-container {
    background-color: black; /* Define o fundo como preto */
    color: white; /* Define a cor do texto como branco (opcional) */
    padding: 20px; /* Adiciona algum espaçamento interno ao rodapé (opcional) */
    width: 97%; /* Ajusta a largura do rodapé para 80% da largura do contêiner pai */
    margin: 0 auto; /* Centraliza o rodapé no contêiner pai usando margens automáticas */
    height: 180px;
}

#texto-container-rodape{
    display: flex;
    justify-content: space-between;
}

#texto-container-rodape-lado-direito{
    margin-right: 160PX;
}