body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

header {
    background-color:black;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li {
    float: left;
}

nav a {
    display: block;
    color:floralwhite;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav a:hover {
    background-color: #ddd;
    color:black;
}

.imagem-container-japao {
    width: 100%;
    background-image: url('Banner\ Japão.png'); 
    background-size: 100%; /* Defina um valor menor para reduzir a imagem */
    background-position: center; 
    background-repeat: no-repeat; 
    display: flex;
    justify-content: left;
    align-items: flex-start; 
    height: 620px; 
}
  
#texto-container-japao {
    text-align: center;
    color: #ffffff;
    margin-top: 100px;
    margin-left:50px;
}
#texto-container-japao h2 {
    font-size: 2em; /* Ajuste o tamanho do título conforme necessário */
}
#texto-container-japao p {
    font-size: 1.5em;
    margin: 10px 0; /* Adicione um espaçamento entre os parágrafos */
    text-align: left; /* Alinha os parágrafos à esquerda */
}
.destinosdaexcursao {
    /* Adicione outras propriedades conforme necessário para a div principal */
}

.titulodestinosdaexcursao {
    text-align: center; /* Centraliza o texto horizontalmente */
}

.titulodestinosdaexcursao h2 {
    margin: 0; /* Remova a margem padrão para evitar espaços indesejados */
}

.internadestinosexcursao {
    display: inline-block;
    width: 48%; /* Define a largura desejada para cada div */
    margin: 10px; /* Adiciona margem entre as divs (opcional) */
    vertical-align: top; /* Alinha as divs no topo */ 
}

.internadestinosexcursao h2 {
    color: blue;

} 