body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

header {
    background-color:black;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li {
    float: left;
}

nav a {
    display: block;
    color:floralwhite;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav a:hover {
    background-color: #ddd;
    color:black;
}

.imagem-container-japao {
    width: 100%;
    background-image: url('Banner\ Japão.png'); 
    background-size: 100%; /* Defina um valor menor para reduzir a imagem */
    background-position: center; 
    background-repeat: no-repeat; 
    display: flex;
    justify-content: left;
    align-items: flex-start; 
    height: 620px; 
}
  
#texto-container-japao {
    text-align: center;
    color: #ffffff;
    margin-top: 100px;
    margin-left:50px;
}
#texto-container-japao h2 {
    font-size: 2em; /* Ajuste o tamanho do título conforme necessário */
}
#texto-container-japao p {
    font-size: 1.5em;
    margin: 10px 0; /* Adicione um espaçamento entre os parágrafos */
    text-align: left; /* Alinha os parágrafos à esquerda */
}
.destinosdaexcursao {
    /* Adicione outras propriedades conforme necessário para a div principal */
    
}

.divdestinosparteinferior{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.titulodestinosdaexcursao {
    text-align: center; /* Centraliza o texto horizontalmente */
}

.titulodestinosdaexcursao h2 {
    margin: 0; /* Remova a margem padrão para evitar espaços indesejados */
}

.internadestinosexcursao {
    display: inline-block;
    width: 48%; /* Define a largura desejada para cada div */
    margin: 10px; /* Adiciona margem entre as divs (opcional) */
    vertical-align: top; /* Alinha as divs no topo */ 
}

.internadestinosexcursao h2 {
    text-align: left; /* Ajusta o alinhamento do texto para a esquerda */
    color: black;
} 

.internadestinosexcursao p {
    text-align: left; /* Ajusta o alinhamento do texto para a esquerda */
    color:black;
}

.internadestinosexcursao img{
    width: 588px; /* Ajusta a largura para ocupar 100% do contêiner pai */
    height: 452px; /* Mantém a proporção original da imagem */
    display: block; /* Remove espaços extras abaixo da imagem */
}

#img-tokyo {
    margin-left: 142px;
}

#img-osaka {
    margin-right: 131px;
}

#divdestinotokyo h2 {
    margin-left: 140px;
}
#divdestinotokyo p {
    margin-left: 140px;
}

.botaosaibamaisdestinoexcursao{
    background-color:#B81515;
}

#divdestinotokyo button {
    margin-left: 137px;
}

.Pagamento {
    display: block;
    justify-content: space-between;
    align-items: center;
}

#divpagamentoinferior{
display: flex;
}


#divpagamentopartedireita {
    flex: 1 0 70%;
    order: 2; 
    align-items: center; /* Centraliza verticalmente os itens */

}

#divpagamentoparteesquerda {
    flex: 1 0 30%;
    order: 1;
    align-items: center; /* Centraliza verticalmente os itens */
}

.Pagamento h2 {
    text-align: left;
    margin-left: 620px;
}

#divpagamentoparteesquerda p{
    text-align: left;
    margin-left:150px;

}

.pdestaquepagamento{
    font-weight: bold;

}

#imagemmontagemjapao1{
margin-right: 10px;
}
#imagemmontagemjapao2{
margin-right: 20px;
}
#imagemmontagemjapao3{
margin-right: 145px;
margin-top: 20px;
width:780px;
}

.botaosaibamaispagamento{
    background-color:#B81515;
}

#divpagamento button {
    margin-left: 142px;
}